p {
  margin: 0;
}

.post {
  box-sizing: border-box;

  margin: 12px 24px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  height: auto;

  background-color: #f2fec6;
  color: black;
  font-size: 1.5em;
}
